@import '~normalize.css/normalize.css';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import '~jquery-modal/jquery.modal.css';

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


$font-stack: 'Raleway', sans-serif;
$font-secondary: 'Libre Baskerville', serif;
$font-color: #2d6778;
$primary-color: #ffeb35;
$blockquote-color: #cfb42d;
$placeholder-color: #fef3f9;
$central-width: 549px;

* {
	box-sizing: border-box;
}

body {
	font: 100% $font-stack;
	color: $font-color;
}

header,main,footer {
	width: 1024px;
	margin: auto;
}

img:not(.slick-slide),video,audio {
	width: 100%;
}
.audio img {
	width: 104px;
}

#progress-bar {
	background-color: #2d6778;
	height: 5px;
	position: fixed;
	z-index: 2;
	transition: width 150ms linear;
}

header {
	height: 562px;
	// border: 1px solid black;
	background-image: url('../assets/header01.jpg');
	background-size: 100% auto;
	h1 {
		position: relative;
		top: 400px;
		background-color: $primary-color;
		font-size: 50px;
		line-height: 52px;
		small {
			margin-top: 18px;
			display: block;
			font-size: 36px;
			font-family: $font-secondary;
			font-weight: 100;
			line-height: 44px;
		}
		width: 645px;
		margin: auto;
		padding: 22px 35px;
	}
	a {
		opacity: 0.7;
		transition: opacity 150ms linear;
		&.play {
			opacity: 1;
		}
		display: block;
		position: absolute;
		top: 25px;
		right: -120px;
		img {
			width: 104px;
		}
	}
}
main {
	font-size: 20px;
	line-height: 24px;
	margin-top: 150px;
	margin-bottom: 150px;
	section {
		position: relative;
		.header {
			&#header2 {
				background-image: url('../assets/header02.jpg');
			}
			&#header3 {
				background-image: url('../assets/header03.jpg');
			}
			&#header4 {
				background-image: url('../assets/header.png');
			}
			width: 100%;
			height: 262px;
			margin-bottom: 32px;
			background-size: 100% auto;
			margin-top: 32px;
		}
		h2 {
			width: $central-width;
			margin: auto;
			font-size: 32px;
			text-align: left;
			line-height: 36px;
		}
		figure {
			min-height: 250px;
			margin: 0;
			img:not(.slick-slide) {
				width: 100%;
			}
			&.carousel {
				width: 60%;
				margin: auto;
				.slick-prev:before, .slick-next:before {
					font-size: 40px !important;
					color: $font-color;
				}
				.slick-prev {
					left: -50px;
				}
				.slick-prev {
					right: -50px;
				}
			}
			&.placeholder {
				background-color: $placeholder-color;
			}
			figcaption {
				display: none;
			}
		}
		
		article:first-of-type {
			margin: 0px;
		}
		article {
			clear: both;
			margin: 24px 0px;
			.central {
				width: $central-width;
				margin: auto;
				text-align: justify;
				blockquote {
					font-family: $font-secondary;
					float: right;
					margin: 0px;
					padding: 20px;
					margin-right: -90px;
					color: $blockquote-color;
					width: 250px;
					font-style: italic;
					font-weight: bold;
					text-align: left;
					line-height: 26px;
					.source {
						font-family: $font-stack;
						font-size: 18px;
						font-weight: normal;
						font-style: normal;
					}
				}
			}
			h3 {
				font-family: $font-secondary;
				font-style: italic;
				font-weight: 600;
				font-size: 25px;
				// width: 300px;
				padding-right: 15px;
				margin: 0;
				float: left;
				text-align: left;
				line-height: 35px;
			}
			&.bleu {
				background-color: #eaf0f2;
				padding-top: 25px;
				padding-bottom: 25px;
			}
			&.title-band {
				h3 {
					width: 60%;
					background-color: $font-color;
					color: white;
					padding: 15px 15px;
					float: none;
					margin: 0px;
				}
			}
		}
	}
}
aside {
	float: left;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	div:not(.modal) {
		&.nomargin {
			margin-bottom: 0px;
		}
		margin-bottom: 130px;
		margin-left: 100px;
		background-color: $primary-color;
		height: 104px;
		width: 104px;
		border-radius: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		a {
			font-family: $font-secondary;
			font-weight: 600;
			display: block;
			margin-left: -40px;
			color: $font-color;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.modal {
		display: none;
	}
	&.right {
		float: right;
		.audio img {
			width: 104px;
			height: 104px;
			margin-right: 25px;
		}
	}
}
#personnages {
	margin-top: 35px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	h3 {
		width: 250px;
		.legend {
			font-size: 15px;
			font-family: $font-stack;
			.circle {
				display: inline-block;
				position: relative;
				top: 8px;
				width: 25px;
				height: 25px;
				border-radius: 50%;
				margin-right: 10px;
				&.jaune {
					border: 4px solid $primary-color;
				}
				&.bleu {
					border: 4px solid $font-color;
				}
			}
		}
	}
	.personnage {
		width: 160px;
		height: 160px;
		margin-left: 15px;
		border-radius: 50%;
		display: inline-block;
		margin-bottom: 15px;
		.front {
			background-size: 100% auto;
			background-repeat: no-repeat;
		}
		.back {
			display: flex;
			align-items: center;
			text-align: center;
			justify-content: center;
			a {
				color: $font-color;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		&.jaune {
			border: 4px solid $primary-color;
		}
		&.bleu {
			border: 4px solid $font-color;
		}
		&#roi .front {
			background-image: url('../assets/illuroidefrance.png');
		}
		&#saintpierre .front {
			background-image: url('../assets/illusaintpierre.png');
		}
		&#alienor .front {
			background-image: url('../assets/illualienor.png');
		}
		&#aurele .front {
			background-image: url('../assets/illuaurele.png');
		}
		&#edouard .front {
			background-image: url('../assets/illuedouard.png');
		}
		&#harcourt .front {
			background-image: url('../assets/illuharcourt.png');
		}
		&#mauni .front {
			background-image: url('../assets/illumauni.png');
		}
		.modal {
			display: none;
		}
	}
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

footer {
	height: 450px;
	// margin: 0 50px;
	// border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	background-image: url('../assets/header.png');
	background-size: 100% auto;
	#footer-content {
		background-color: $primary-color;
		width: 50%;
		padding: 25px;
	}
}